 /* img {
                width: 200px;
                border-radius: 100px;
                float: right;
                margin-right: 20px;
            } */

            .paragraph{
                font-weight: bold;
            }

            em{

                color: red;
                font-size: medium;
                flex-direction: inherit;
            }
            
            .image1{
                width: 200px;
                height: 200px;
                object-fit: cover;
            }

            ul{
                color: color-mix(in srgb, color red
                , color green);
            }
            ol{
                color: brown;
            }
            table {
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            td {
                border: 1px solid black;
                padding: 2px;
            }
            
            th {
                border: 1px solid black;
                padding: 2px;
            }
            ul li{
                color: blue;
            }
            @media (max-width: 600px){
                body{
                 background-color: red;   
                }
             }
             @media (max-width: 400px){
                body{
                 background-color:blue;   
                }
             }
             thead {
                padding: auto;
                border-radius: 0;
                width: 80;
                
             }
             tr{
                color: blue;
             }
             td{
                color: aqua;
             }
               
           
